

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  .navbar-brand {
    font-family: 'Alfa Slab One', cursive;
  }

  .jumbotron h1 {
    font-family: 'Alfa Slab One', cursive;

  }

  .jumbotron h4 {
  
  }

  .jumbotron p {
    font-size: 12px;
  }

  .jumbotron {
    color: #fff;
  	background-image: url('../img/programmers.png');
  	background-position: -200px -1px;
  }

  .footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #000;
  }